[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-socketio = "*"
eventlet = "*"
flask-cors = "*"
redis = "*"
atparts = {path = "/mnt/c/users/jonat/dev/atparts/dist/atparts-0.1-py2.py3-none-any.whl"}
requests-html = {git = "https://github.com/psf/requests-html.git"}
rq = "*"
rq-dashboard = "*"
